*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

body{
    user-select: none;
}

.main-div{
    
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
    /* border: 2px solid red; */
    padding: 10px;
    border-radius: 12px;
    position: relative;
    gap: 15px;

}


/* firstsection */
.first-section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.first-section div{
    display: flex; 
    padding: 10px; 
    border-radius: 4px; 
}
.first-section div p{
    font-size: 25px;
    font-weight: 900;
}

.first-section img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
}

.first-section div:nth-child(1){
    border: 2px solid #d87093;
}
.first-section div:nth-child(2){
    border: 2px solid greenyellow;
}
.first-section div:nth-child(3){
    border: 2px solid goldenrod;
}

.stone{
    animation: ShakingBtn 0.3s 0s infinite ease-out;
}
.paper{
    animation: ShakingBtn 0.3s 0s infinite ease-out;
}
.scissors{
    animation: ShakingBtn 0.3s 0s infinite ease-out;
}
.stone:hover{
    background-color: #d87093;
    color: black;
    cursor: pointer;
    animation: none;
}
.paper:hover{
    background-color: greenyellow;
    color: black;
     cursor: pointer;
     animation: none;
}
.scissors:hover{
     background-color: goldenrod;
    color: black;
     cursor: pointer;
     animation: none;
}

@keyframes ShakingBtn{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/* second-section */


.second-section{
   padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;
    border-radius: 8px;
}

.second-section div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-section div span{
    font-size: 25px;
    padding: 5px;
}

/* third-section */

.third-section{
    /* border: 2px solid green; */
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.computer img{
    color: white;
    width: 180px;
}
 

.shake{
    animation-name: ShakeHand; 
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}


@keyframes ShakeHand{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(50px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
    }
}


/* result */

.result{
    position: absolute;
    background-color: rgb(149, 255, 0);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    border-radius: 15px;
    display: none;
}
.result h2,p{
    font-size: 2rem;
}

.result button{
    width: 17%;
    height: 10%;
    font-size: 1rem;
    border-radius: 12px;
    transition: background-color 1s, color 1s;
    animation: ZoomInOut 1s 0s infinite ease-in-out ;
}

.result button:hover{
    background-color: darkslategray;
    color: white;
    animation: none;
}


@keyframes ZoomInOut{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

/* fourth section */

.fourth-section{
    background-color: aqua;
    width: 50%;
    padding: 10px;
    font-size: 25px;
    border-radius: 15px;
    margin: auto;
    text-align: center;
    
}
