*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style-type: none;
    text-decoration: none;
}

.main-div{
    max-width: 400px;
    margin: 2px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    padding: 2px;
}
input[type="range"]{
    padding: 0;
}
h2{
    text-align: center;
}

.selectOption{
    padding: 1rem;
    font-size: 1rem;
    outline: none;
}

.message-bar{
    width: 95%;
    
    border: 1px solid greenyellow;
    
}
#message{
    width: 95%;
    padding: 1rem;
    outline: none;
    font-size: 14px;
}
#message::placeholder{
    font-size: 1rem;
}
.duration-btn{
    width: 100%;
    padding: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: row;
    font-size: 18px;
}

#duration{
    width: 100%;
    border: 23px solid red;
}

#generate-toast{
    min-width: 40%;
    padding: 12px 18px;
    border-radius: 5px;
    font-size: 15px;
    transition: background-color .5s 0s linear, color .5s 0s linear;
}
#generate-toast:hover{
    background-color: aqua;
    color: black;

}